<div class="col-10 offset-1" style="color:white;">
  <h1>About Blurty</h1>

  <p>Blurty was created as a modest knock-off of a popular web-development training applet ('splurty') while our author (MKD) was a participant in the 2019 University of Toronto Coding Bootcamp. </p>
  <p>It's intent was to help introduce and integrate Ruby into forward facing web apps. If you want to start working towards understanding more about the awesome world of coding <a class="basic-link" target="_blank" href="https://online.bootcampspot.com"> start here</a>!</p>
</div>