
<div class="form_box">
<h1>Add Something New</h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Submit', class: 'btn big-red' %>
<% end %>
</div>