@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

*{
font-family: 'Montserrat', serif;
/*font-family: 'Rye', cursive;*/
/*font-family: 'Staatliches', cursive;*/
/*font-family: 'Suez One', serif;*/
}

body, html {
  height: 100%;
  margin: 0;
  background-color:black;
}

.bg {
  /* The image used */
  background-image: url("https://cdn.wallpapersafari.com/56/91/mqYIjZ.jpg");
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.clear {
  clear: both;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}


header {
  color: white;
}

/*FORM-BOX*/
.form_box {
  width:70%;
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  margin: 1em 10% 6em 10%;
  padding: 20px 5%;
  text-align:center;

}

.form_box label {
  background-color: #2b2b2b;
  font-size: 0.8em;
  color: rgba(255,255,255,0.7);
  opacity: rgba(255,255,255,0.1);
  text-align:right;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: -25px;
  float: left;
}

.form_box input {
  width: 95%;
  margin-left: 5%;
  padding-left: 5em;
}

.btn.big-red {
  border-radius:0;
  color: rgba(255,255,255,0.8);
  background-color: rgb(127, 0, 0);
  width: 8em;
  float: right;
  display: block;
  padding: 10px;
}

.btn.big-red:hover {
  background-color: red;
  color: rgba(255,255,255,1.0);
  cursor: hand;
}

/*QUOTE-BOX*/
.quote_box {
	width:70%;
	color:red;
	border-radius: 8px;
	margin: 2em 10% 1em 10%;
	padding: 20px 5%;
  text-align:center;
}

.quote_box, .form_box h1 {
  color: rgba(255,255,255,0.7);
}

.quote_box h2 {
  background-color: #2b2b2b;
  font-size: 0.8em;
  color: rgba(255,255,255,0.7);
  opacity: rgba(255,255,255,0.4);
  text-align:right;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  margin-top: 1em;
  float: right;
}


.logo h1 a {
font-family: 'blacklistedregular', sans-serif;
color: white;
background-color: rgb(127, 0, 0);
font-size: 1.5em;
padding: 0.9em;
text-align:center;
display: block;
}

.logo h1 a:hover {
  text-decoration:none;
  background-color: red;
}


hr {
  clear: both;
}

/* comment*/
footer {
	background-color: #2b2b2b;
	padding: 10px;
	color: white;
	height: 50px;
  width: 100%;
	position:absolute;
  bottom: 0;
}



footer p, h5 {
	font-size: 0.8em;
  opacity: 0.6;
  text-align: left;
  margin-bottom: 0px;
}

p.subtext {
  font-size: 0.5em;
  opacity: 0.6;
  text-align: left;
}

p.subtext a {
  color: rgba(255,255,255,0.6);
}

p.slogan {
  /*font-family: 'blacklistedregular', serif;*/
  /*font-size: 20px;*/
  float: right;
  margin-right: 50px;
  opacity: 0.5;
}


ul.nav {
  text-align:center;
  float:right;
  margin-right: 0;
}

ul.nav li {
  float: right;
  margin: 0 5px;
}
.links {
  padding-top: 26px;
}

.links a {
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 15px 30px;
  margin: 0 10px;
  text-align: center;
  background-color: #2B2B2B;
  /*background-color: rgba(255,255,255,0.4);*/
}

.links a:hover {
  color: rgba(255,255,255,1.0);
  text-decoration:none;
  background-color: red;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

a.basic-link {
  color: white;
  background-color: rgb(127, 0, 0);
  padding: 1px;
}

a.basic-link:hover {
  background-color:red;
  text-decoration: none;
  color:white;
}
